{% extends "base.html" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    单号导入
                </div>
                <div class="panel-body form-inline">
                    <div class="form-group">
                        <input id="id-upload" name="idfiles" accept=".csv,.xls,.xlsx" type="file" class="file-loading">
                    </div>
                    <div class="form-group">
                        <select id="instance_name" name="instance_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true"
                                title="请选择实例:" data-placeholder="请选择实例:" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="db_name" name="db_name" class="form-control selectpicker show-tick bs-select-hidden"
                                title="请选择数据库:" data-live-search="true" data-placeholder="请选择数据库:" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="btn-id" type="button" class="btn btn-warning" value="开始导入" />
                    </div>
                </div>
                <div class="panel-body form-inline">
                    <span><b>注：</b>单号导入 会默认导入 test(没有该数据库请先创建)数据库下的 id_import_record表中(如果表不存在则会自动创建),请确保csv文件数据为单列</span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    数据导入
                </div>
                <div class="panel-body form-inline">
                    <div class="form-group">
                        <input id="data-upload" name="datafiles" accept=".csv,.xls,.xlsx" type="file" class="file-loading">
                    </div>
                    <div class="form-group">
                        <select id="instance_name2" name="instance_name2"
                                class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true"
                                title="请选择实例:"
                                data-placeholder="请选择实例:" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="db_name2" name="db_name2" class="form-control selectpicker show-tick bs-select-hidden"
                                title="请选择数据库:"
                                data-live-search="true" data-placeholder="请选择数据库:" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="tb_name" name="tb_name" class="form-control selectpicker show-tick bs-select-hidden"
                                title="请选择表:"
                                data-live-search="true" data-placeholder="请选择表:" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="btn-data" type="button" class="btn btn-warning" value="开始导入" />
                    </div>
                </div>
                <div class="panel-body form-inline">
                    <span><b>注: </b>数据导入 必须选择表(建表同学请预留第一列为varchar批号字段), 请确保csv文件数据列顺序跟表字段顺序一致(电子表格文件只导入第一个sheet的数据)。</span>
                </div>
            </div>
        </div>

        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    批号列表
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-import" data-toggle="table" class="table table-striped table-hover"
                               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block js %}
    {% load staticfiles %}
    <link href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script src="{% static 'bootstrap-fileinput/js/locales/zh.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'dist/js/marked.min.js' %}"></script>
    <!-- 解析文件 -->
    <script>
        //初始化上传控件
        $(function init_upload() {

            list();
            $("#id-upload").fileinput({
                uploadUrl: "/data_import/load/",
                language: 'zh',
                allowedFileExtensions: ['csv','xls','xlsx'],//接收的文件后缀
                showCaption: true,     //是否显示标题
                initialCaption: '支持CSV, XLS, XLSX 文件 (仅支持 10M大小文件)',
                captionClass: "",
                showUpload: false,     //不显示上传按钮
                showPreview: false,    // 不显示预览,
                showCancel: false,
                maxFileSize: 1,//文件大小限制
                maxFileSize: 10.24*1024, //单位为kb，如果为0表示不限制文件大小
                uploadExtraData: function (previewId, index) {   //额外参数的关键点
                    var obj = {};
                    obj.instance_name = $("#instance_name").val();
                    obj.db_name = $("#db_name").val();
                    obj.resource_type = "table";
                    obj.import_type = "1";
                    return obj;
                },
                }).on("fileuploaded", function(event, data, previewId, index) {
                    $('#id-upload').fileinput('reset');
                    $('#id-upload').fileinput('clear');
                    $('#id-upload').fileinput('enable');
                    $('#btn-id').attr("disabled",false);
                    res = data.response;
                    list();
                    if(res.status ==0){
                        alert("导入成功！！");
                    } else {
                        alert("导入失败！！");
                    }
                });


            $("#data-upload").fileinput({
                uploadUrl: "/data_import/load/",
                language: 'zh',
                allowedFileExtensions: ['csv','xls','xlsx'],//接收的文件后缀
                showCaption: true,     //是否显示标题
                initialCaption: '支持CSV, XLS, XLSX 文件 (仅支持 10M大小文件)',
                captionClass: "",
                showUpload: false,     //不显示上传按钮
                showPreview: false,    // 不显示预览,
                showCancel: false,
                maxFileSize: 1,//文件大小限制
                maxFileSize: 10.24*1024, //单位为kb，如果为0表示不限制文件大小
                uploadExtraData: function (previewId, index) {   //额外参数的关键点
                    var obj = {};
                    obj.instance_name = $("#instance_name2").val();
                    obj.db_name = $("#db_name2").val();
                    obj.tb_name = $("#tb_name").val();
                    obj.import_type = "2";
                    return obj;
                },
                }).on("fileuploaded", function(event, data, previewId, index) {
                    $('#data-upload').fileinput('reset');
                    $('#data-upload').fileinput('clear');
                    $('#data-upload').fileinput('enable');
                    $('#btn-data').attr("disabled",false);
                    res = data.response;
                    list();
                    if(res.status ==0){
                        alert("导入成功！！");
                    } else {
                        alert("导入失败！！");
                    }
                });

        });

        $("#btn-id").click(function(){
            var instance_name = $("#instance_name").val();
            var db_name = $("#db_name").val();
            if(instance_name=="" || db_name==""){
                alert('请选择实例或数据库！');
            } else if($('#id-upload').get(0).files.length == 0){
                alert('请选择上传文件！');
            }else if($('#id-upload').get(0).files[0].size > 10*1024*1024){
                alert('文件大小超过10M，请重新选择!');
            }else {
                $(this).attr("disabled","disabled");
                $("#id-upload").fileinput("upload");
            }
        });


        $("#btn-data").click(function(){
            var instance_name = $("#instance_name2").val();
            var db_name = $("#db_name2").val();
            var tb_name = $("#tb_name").val();
            if(instance_name=="" || db_name=="" || tb_name==""){
                alert('请选择实例, 数据库, 数据表！');
            } else if($('#data-upload').get(0).files.length == 0){
                alert('请选择上传文件！');
            }else if($('#data-upload').get(0).files[0].size > 10*1024*1024){
                alert('文件大小超过10M，请重新选择!');
            }else {
                $(this).attr("disabled","disabled");
                $("#data-upload").fileinput("upload");
            }
        });


        //展示历史导入日志
        function list() {
            //初始化table
            $('#data-import').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "/data_import/list/",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 5,                     //每页的记录行数（*）
                pageList: [10, 20, 50, 100],       //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'group'  //文件名称设置
                },
                search: true,                      //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                //请求服务数据时所传参数
                queryParams:
                    function (params) {
                        return {
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search
                        }
                    },
                columns: [{
                    title: '批号',
                    field: 'bid'
                }, {
                    title: '文件名称',
                    field: 'file_name'
                }, {
                    title: '实例名称',
                    field: 'instance_name'
                }, {
                    title: '数据库名称',
                    field: 'db_name'
                }, {
                    title: '表名称',
                    field: 'tb_name'
                }, {
                    title: '导入类型',
                    field: 'type',
                    formatter: function (value, row, index) {
                        var val = "单号导入"
                        if(value == 2){
                            val = "数据导入";
                        }
                        return val;
                    }
                }, {
                    title: '记录数量',
                    field: 'record_count'
                }, {
                    title: '导入完成状态',
                    field: 'is_valid',
                    formatter: function (value, row, index) {
                        var val = '进行中';
                        if(value == 0){
                            val = '失败';
                        }else if(value == 1){
                            val = '成功';
                        }
                        return val;
                    }
                }, {
                    title: '创建人',
                    field: 'creator'
                }, {
                    title: '导入时间',
                    field: 'create_time'
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！请检查接口返回信息和错误日志！");
                },
                onSearch: function (e) {
                    //传搜索参数给服务器
                    queryParams(e)
                }
            });

        }

        function importData(){
            //
        }
    </script>
    <!-- 获取数据库名称 -->
    <script>
        $("#instance_name").change(function () {
            //将数据通过ajax提交给获取db_name
            $.ajax({
                type: "post",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name option:selected").text(),
                    resource_type: "database"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            if(result[i] == 'test' || result[i] == 'fpx_test'  || result[i] == 'fpx_ods'){
                                $("#db_name").append(name);
                            }

                        }
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });


        $("#instance_name2").change(function () {
            //将数据通过ajax提交给获取db_name
            $.ajax({
                type: "post",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name2 option:selected").text(),
                    resource_type: "database"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#db_name2").empty();
                        $("#tb_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            if(result[i] == 'test' || result[i] == 'fpx_test'  || result[i] == 'fpx_ods' ){
                                $("#db_name2").append(name);
                            }

                        }
                        $('#db_name2').selectpicker('render');
                        $('#db_name2').selectpicker('refresh');
                        $('#tb_name').selectpicker('render');
                        $('#tb_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });


        //数据库变更获取表/模式名称
        $("#db_name2").change(function () {
            $("#tb_name").empty();
            $('#tb_name').selectpicker('render');
            $('#tb_name').selectpicker('refresh');
            var resource_type = "table";
            $.ajax({
                type: "post",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name2").val(),
                    db_name: $("#db_name2").val(),
                    resource_type: resource_type
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#tb_name").append(name);
                        }
                        $('#tb_name').selectpicker('render');
                        $('#tb_name').selectpicker('refresh');

                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            //获取用户实例列表
            $(function () {
                $.ajax({
                    type: "get",
                    url: "/group/user_all_instances/",
                    dataType: "json",
                    data: {
                        db_type: ['mysql']
                    },
                    complete: function () {
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            let result = data['data'];
                            $("#instance_name").empty();
                            $("#instance_name2").empty();
                            for (let i = 0; i < result.length; i++) {
                                let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                                $("#instance_name").append(instance);
                                $("#instance_name2").append(instance);
                            }
                            $('#instance_name').selectpicker('render');
                            $('#instance_name2').selectpicker('render');
                            $('#instance_name').selectpicker('refresh');
                            $('#instance_name2').selectpicker('refresh');
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
        })
    </script>
{% endblock %}

